<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--==================== UNICONS ====================-->
        
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="">

        <title>Alex Axel M. | RESUME</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            Header
        </header>

        <%- body %> 

        <!--==================== FOOTER ====================-->
        <footer class="footer">
            Footer
        </footer>
        
        <!--==================== SCROLL TOP ====================-->
        

        <!--==================== SWIPER JS ====================-->
        <script src=""></script>

        <!--==================== MAIN JS ====================-->
        <script src=""></script>
    </body>
</html>