<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

        <!-- UNICONS -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- SWIPER CSS -->
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"> -->
        
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/styles.css">

        <title>Login | Register</title>
    </head>
    <body>
        <!-- HEADER -->
        <%- include('../partial/header.ejs') %> 
        
        <!-- BODY -->

        
        <!-- FOOTER -->
        <%- include('../partial/footer.ejs') %> 
        
        
        <!-- SCROLL TOP -->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup__icon"></i>
        </a>

        <!-- SWIPER JS -->
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->

        <!-- MAIN JS -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>