<!-- BLOG Page -->
<section class="contact section" id="blog">

    <h2 class="section__title">Blog Articles.</h2>
    <span class="section__subtitle">Tech related & Social related</span>
    <!-- Blogs -->
    <div class="portfolio__container container swiper swiper-container">
        <div class="swiper-wrapper">
            <!-- Blog Post 1 -->
            <div class="portfolio__content grid swiper-slide">
                <div class="services__content">
                    <div>
                        <img src="assets/img/portfolio1.jpg" alt="Blog Image" class="services__icon">
                        <h3 class="services__title">Debugging</h3>
                        <span class="button button--flex button--small button--link services__button">
                            View More <i class="uil uil-arrow-right button__icon"></i>
                        </span>
        
                        <div class="services__modal">
                            <div class="services__modal-content">
                                <img src="assets/img/portfolio1.jpg" alt="Blog Image">
                                <h3 class="services__modal-title">Debugging</h3>
                                <i class="uil uil-times services__modal-close"></i>
                                <p>
                                    <strong>Definition: Debugging</strong> is the process of detecting and removing existing and potential errors (also called 'bugs') in a software code that can cause it to behave unexpectedly or crash.

                                    In the career of software development you are likely to face bugs as explained in the definition of debugging and in this article i am going to walk you through all kinds of programming bugs and tools and techniques used to solve those kinds of programming bugs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog Post 2 -->
            <div class="portfolio__content grid swiper-slide">
                <div class="services__content">
                    <div>
                        <img src="assets/img/portfolio1.jpg" alt="Blog Image" class="services__icon">
                        <h3 class="services__title">Debugging</h3>
                        <span class="button button--flex button--small button--link services__button">
                            View More <i class="uil uil-arrow-right button__icon"></i>
                        </span>
        
                        <div class="services__modal">
                            <div class="services__modal-content">
                                <img src="assets/img/portfolio1.jpg" alt="Blog Image">
                                <h3 class="services__modal-title">Debugging</h3>
                                <i class="uil uil-times services__modal-close"></i>
                                <p>
                                    <strong>Definition: Debugging</strong> is the process of detecting and removing existing and potential errors (also called 'bugs') in a software code that can cause it to behave unexpectedly or crash.

                                    In the career of software development you are likely to face bugs as explained in the definition of debugging and in this article i am going to walk you through all kinds of programming bugs and tools and techniques used to solve those kinds of programming bugs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Blog Post 3 -->
            <div class="portfolio__content grid swiper-slide">
                <div class="services__content">
                    <div>
                        <img src="assets/img/portfolio1.jpg" alt="Blog Image" class="services__icon">
                        <h3 class="services__title">Debugging</h3>
                        <span class="button button--flex button--small button--link services__button">
                            View More <i class="uil uil-arrow-right button__icon"></i>
                        </span>
        
                        <div class="services__modal">
                            <div class="services__modal-content">
                                <img src="assets/img/portfolio1.jpg" alt="Blog Image">
                                <h3 class="services__modal-title">Debugging</h3>
                                <i class="uil uil-times services__modal-close"></i>
                                <p>
                                    <strong>Definition: Debugging</strong> is the process of detecting and removing existing and potential errors (also called 'bugs') in a software code that can cause it to behave unexpectedly or crash.

                                    In the career of software development you are likely to face bugs as explained in the definition of debugging and in this article i am going to walk you through all kinds of programming bugs and tools and techniques used to solve those kinds of programming bugs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog Post 4 -->
            <div class="portfolio__content grid swiper-slide">
                <div class="services__content">
                    <div>
                        <img src="assets/img/portfolio1.jpg" alt="Blog Image" class="services__icon">
                        <h3 class="services__title">Debugging</h3>
                        <span class="button button--flex button--small button--link services__button">
                            View More <i class="uil uil-arrow-right button__icon"></i>
                        </span>
        
                        <div class="services__modal">
                            <div class="services__modal-content">
                                <img src="assets/img/portfolio1.jpg" alt="Blog Image">
                                <h3 class="services__modal-title">Debugging</h3>
                                <i class="uil uil-times services__modal-close"></i>
                                <p>
                                    <strong>Definition: Debugging</strong> is the process of detecting and removing existing and potential errors (also called 'bugs') in a software code that can cause it to behave unexpectedly or crash.

                                    In the career of software development you are likely to face bugs as explained in the definition of debugging and in this article i am going to walk you through all kinds of programming bugs and tools and techniques used to solve those kinds of programming bugs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <!-- Pagination Arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

