<!-- MAIN -->
<main class="main">
    <!-- HOME -->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__content grid">
                <div class="home__social">
                    <a href="https://twitter.com/AlexAxelMucyo" target="_blank" class="home__social-icon"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.linkedin.com/in/AlexAxelMucyo" target="_blank" class="home__social-icon"><i class="uil uil-linkedin-alt"></i></a>
                    <a href="https://github.com/mucyoalexaxel" target="_blank" class="home__social-icon"><i class="uil uil-github-alt"></i></a>
                </div>
                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            <image class="home__blob-img" x='12' y='18' href="/assets/img/me.png"/>
                        </g>
                    </svg>
                </div>
                <div class="home__data">
                    <h1 class="home__title">Hi, I am A<span class="home__title-special">l</span>e<span class="home__title-special">x</span> A<span class="home__title-special">x</span>e<span class="home__title-special">l</span></h1>
                    <h3 class="home__subtitle">Full Stack Developer</h3>
                    <p class="home__description">High level experience in web design and development, producing quality work.</p>
                    <a href="#contact" class="button button--flex">Contact Me<i class="uil uil-message button__icon"></i></a>
                </div>
            </div>
            <div class="home__scroll">
                <a href="#about" class="home__scroll-button button--flex"><i class="uil uil-mouse-alt home__scroll-mouse"></i>
                <span class="home__scroll-name">Scroll Down</span>
                <i class="uil uil-arrow-down home__scroll-arrow"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about section" id="about">
        <h2 class="section__title">About Me</h2>
        <span class="section__subtitle">My Introducyion</span>
        <div class="about__container container grid">
            <img src="/assets/img/me.jpg" alt="Image Of Alex Axel Mucyo" class="about__img">

            <div class="about__data">
                <p class="about__description">Web developer, with extensive knowledge and years of experience, working in web technologies and Ui / Ux design, delivering quality work.
                </p>
                <div class="about__info">
                    <div>
                        <span class="about__info-title">02+</span>
                        <span class="about__info-name">Exprerience</span>
                    </div>
                    <div>
                        <span class="about__info-title">20+</span>
                        <span class="about__info-name">Projects</span>
                    </div>
                    <div>
                        <span class="about__info-title">2+</span>
                        <span class="about__info-name">Companies</span>
                    </div>
                </div>
                <div class="about__buttons">
                    <a download="" href="/assets/pdf/Resume Alex Axel Mucyo.pdf" class="button button--flex">
                        My Resume<i class="uil uil-file-download button__icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section class="skills section" id="skills">
        <h2 class="section__title">Skills</h2>
        <span class="section__subtitle">Technical Skills - Soft Skills</span>
        <div class="skills__container contaier grid">
            <div>
                <!-- FrontEnd Dev-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-brackets-curly skills__icon"></i>
                        <div>
                            <h1 class="skills__title">FrontEnd Development</h1>
                            <span class="skills__subtitle">Frontend Libraries | Frameworks</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Html 5</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Css 3 | Sass</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Tailwind Css</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Javascript (ES6)</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">React</h3>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- BackEnd Dev -->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-server-network-alt skills__icon"></i>
                        <div>
                            <h1 class="skills__title">BackEnd Development</h1>
                            <span class="skills__subtitle">Backend Development Libraries</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Node.Js</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Express.Js</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">MongoDB</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div>
                    <!-- UI/UX Design -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-swatchbook skills__icon"></i>
                            <div>
                                <h1 class="skills__title">UI/UX Design</h1>
                                <span class="skills__subtitle">Design Tools</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Figma</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Adobe Photoshop</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Adobe Illustrator</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <!-- Tools And Platforms -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-cell skills__icon"></i>
                            <div>
                                <h1 class="skills__title">Tools And Platforms</h1>
                                <span class="skills__subtitle">Version Control | Dev Tools</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Git/Github</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Firebase</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Heroku</h3>
                                </div>
                            </div>
                        </div>
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Netlify</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                    <!-- Soft Skills -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-brain skills__icon"></i>
                            <div>
                                <h1 class="skills__title">Soft Skills</h1>
                                <span class="skills__subtitle">Professional Skills | Personal Skills</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Communication</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Listenability</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Teamwork</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Leadership</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Conflict Resolution</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Flexibity</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Creativity</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Project Managment</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- QUALIFICATION -->
    <section class="qualification section">


    </section>

    <!-- SERVICES -->
    <section class="services section" id="services">
        

    </section>

    <!-- PORTFOLIO -->
    <section class="portfolio section" id="portfolio">
        

    </section>

    <!-- PROJECT IN MIND -->
    <section class="project section">


    </section>

    <!-- TESTIMONIAL -->
    <section class="testimonial section">
        

    </section>

    <!-- CONTACT ME -->
    <section class="contact section" id="contact">


    </section>
</main>