<!-- MAIN -->
<main class="main">
    <!-- HOME -->
    <section class="home section active-link" id="home">
        <div class="home__container container grid">
            <div class="home__content grid">
                <div class="home__social">
                    <a href="https://twitter.com/AlexAxelMucyo" target="_blank" class="home__social-icon"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.linkedin.com/in/AlexAxelMucyo" target="_blank" class="home__social-icon"><i class="uil uil-linkedin-alt"></i></a>
                    <a href="https://github.com/mucyoalexaxel" target="_blank" class="home__social-icon"><i class="uil uil-github-alt"></i></a>
                </div>
                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                            <image class="home__blob-img" x='12' y='18' href="/assets/img/me.png"/>
                        </g>
                    </svg>
                </div>
                <div class="home__data">
                    <h1 class="home__title">Hi, I am A<span class="home__title-special">l</span>e<span class="home__title-special">x</span> A<span class="home__title-special">x</span>e<span class="home__title-special">l</span></h1>
                    <h3 class="home__subtitle">Full Stack Developer</h3>
                    <p class="home__description">High level experience in web design and development, producing quality work.</p>
                    <a href="#contact" class="button button--flex">Contact Me<i class="uil uil-message button__icon"></i></a>
                </div>
            </div>
            <div class="home__scroll">
                <a href="#about" class="home__scroll-button button--flex"><i class="uil uil-mouse-alt home__scroll-mouse"></i>
                <span class="home__scroll-name">Scroll Down</span>
                <i class="uil uil-arrow-down home__scroll-arrow"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about section" id="about">
        <h2 class="section__title">About Me</h2>
        <span class="section__subtitle">My Introducyion</span>
        <div class="about__container container grid">
            <img src="/assets/img/me.jpg" alt="Image Of Alex Axel Mucyo" class="about__img">

            <div class="about__data">
                <p class="about__description">Web developer, with extensive knowledge and years of experience, working in web technologies and Ui / Ux design, delivering quality work.
                </p>
                <div class="about__info">
                    <div>
                        <span class="about__info-title">02+</span>
                        <span class="about__info-name">Exprerience</span>
                    </div>
                    <div>
                        <span class="about__info-title">20+</span>
                        <span class="about__info-name">Projects</span>
                    </div>
                    <div>
                        <span class="about__info-title">2+</span>
                        <span class="about__info-name">Companies</span>
                    </div>
                </div>
                <div class="about__buttons">
                    <a download="" href="/assets/pdf/Resume Alex Axel Mucyo.pdf" class="button button--flex">
                        My Resume<i class="uil uil-file-download button__icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section class="skills section container" id="skills">
        <h2 class="section__title">Skills</h2>
        <span class="section__subtitle">Technical Skills - Soft Skills</span>
        <div class="skills__container contaier grid">
            <div>
                <!-- FrontEnd Dev-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-brackets-curly skills__icon"></i>
                        <div>
                            <h1 class="skills__title">FrontEnd Development</h1>
                            <span class="skills__subtitle">Frontend Libraries | Frameworks</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Html 5</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Css 3 | Sass</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Tailwind Css</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Javascript (ES6)</h3>
                            </div>
                        </div>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">React</h3>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- BackEnd Dev -->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-server-network-alt skills__icon"></i>
                        <div>
                            <h1 class="skills__title">BackEnd Development</h1>
                            <span class="skills__subtitle">Backend Development Libraries</span>
                        </div>
                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Node.Js</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Express.Js</h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">MongoDB</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div>
                    <!-- UI/UX Design -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-swatchbook skills__icon"></i>
                            <div>
                                <h1 class="skills__title">UI/UX Design</h1>
                                <span class="skills__subtitle">Design Tools</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Figma</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Adobe Photoshop</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Adobe Illustrator</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <!-- Tools And Platforms -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-cell skills__icon"></i>
                            <div>
                                <h1 class="skills__title">Tools And Platforms</h1>
                                <span class="skills__subtitle">Version Control | Dev Tools</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Git/Github</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Firebase</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Heroku</h3>
                                </div>
                            </div>
                        </div>
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Netlify</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    
                    <!-- Soft Skills -->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-brain skills__icon"></i>
                            <div>
                                <h1 class="skills__title">Soft Skills</h1>
                                <span class="skills__subtitle">Professional Skills | Personal Skills</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Communication</h3>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Listenability</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Teamwork</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Leadership</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Conflict Resolution</h3>
                                </div>
                            </div>
                        </div>

                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Flexibity</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Creativity</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="skills__list grid">
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">Project Managment</h3>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- QUALIFICATION -->
    <section class="qualification section">
        <h2 class="section__title">Qualifications</h2>
        <span class="section__subtitle">My Personal Journey</span>

        <div class="qualification__container container">
            <div class="qualification__tabs">
                <!-- Education -->
                <div class="qualification__button button--flex qualification__active" data-target='#education'>
                    <i class="uil uil-graduation-cap qualification__icon"></i>Education
                </div>
                <!-- Experience -->
                <div class="qualification__button button--flex" data-target="#experience">
                    <i class="uil uil-briefcase-alt qualification__icon"></i>Exprerience
                </div>
                <!-- Awards -->
                <!-- <div class="qualification__button button--flex" data-target="#awards">
                    <i class="uil uil-award qualification__icon"></i>Awards
                </div> -->
            </div>

            <!-- Qualification Cards -->
            <div class="qualification__sections">
                <!-- Education -->
                <div class="qualification__content qualification__active" data-content id="education">

                    <!-- 1st Qualification -->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">B.Sc. Computer Science</h3>
                            <span class="qualification__subtitle">University Of Manitoba</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2021 - 2025
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                    </div> 
                    
                    <!-- 2nd Qualification -->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">High School</h3>
                            <span class="qualification__subtitle">Kigali Christian School</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2019 - 2019
                            </div>
                        </div>
                    </div>

                    <!-- 3rd Qualification -->
                    <div class="qualification__data">
                        
                        <div>
                            <h3 class="qualification__title">High School</h3>
                            <span class="qualification__subtitle">Nu Vision High School</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2017 - 2019
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <!-- <span class="qualification__line"></span> -->
                        </div>
                    </div>

                </div>
                
                <!-- Experience -->
                <div class="qualification__content" data-content id="experience">

                    <!-- 1st Qualification -->
                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Full Stack Developer</h3>
                            <span class="qualification__subtitle">Andela</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2021 - Current
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                    </div> 
                    
                    <!-- 2nd Qualification -->
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">Front End Developer</h3>
                            <span class="qualification__subtitle">PexTech</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2021 - Current
                            </div>
                        </div>
                    </div>

                    <!-- 3rd Qualification -->
                    <div class="qualification__data">
                        
                        <div>
                            <h3 class="qualification__title">Front End Developer</h3>
                            <span class="qualification__subtitle">FreeLance</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2021 - Current
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <!-- <span class="qualification__line"></span> -->
                        </div>
                    </div>

                </div>
                
                <!-- Awards -->
                <!-- <div class="qualification__content" data-content id="awards">

                    <div class="qualification__data">
                        <div>
                            <h3 class="qualification__title">Front End Libraries</h3>
                            <span class="qualification__subtitle">University Of Manitoba</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2021 - 2025
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                    </div> 
                    
                    <div class="qualification__data">
                        <div></div>

                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>

                        <div>
                            <h3 class="qualification__title">High School</h3>
                            <span class="qualification__subtitle">Kigali Christian School</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2019 - 2019
                            </div>
                        </div>
                    </div>

                    <div class="qualification__data">
                        
                        <div>
                            <h3 class="qualification__title">High School</h3>
                            <span class="qualification__subtitle">Nu Vision High School</span>
                            <div class="qualification__calendar">
                                <i class="uil uil-calendar-alt"></i>2017 - 2019
                            </div>
                        </div>

                        <div>
                            <span class="qualification__rounder"></span>
                        </div>
                    </div>

                </div> -->

                
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section class="services section" id="services">
        <h2 class="section__title">Services</h2>
        <span class="section__subtitle">What I Do</span>

        <div class="services__container container grid">
            <!-- UI / UX Design -->
            <div class="services__content">
                <div>
                    <i class="uil uil-web-grid services__icon"></i>
                    <h3 class="services__title">UI/UX<br>Design</h3>
                    <span class="button button--flex button--small button--link services__button">
                        View More <i class="uil uil-arrow-right button__icon"></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <h4 class="services__modal-title">UI/UX<br>Design</h4>
                            <i class="uil uil-times services__modal-close"></i>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I developer Modern User Interface Website</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>Web Page Development</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Create UX Element Interactions</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Position Your Company Brand</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Front End Development -->
            <div class="services__content">
                <div>
                    <i class="uil uil-arrow services__icon"></i>
                    <h3 class="services__title">Front End<br>Development</h3>
                    <span class="button button--flex button--small button--link services__button">
                        View More <i class="uil uil-arrow-right button__icon"></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <h4 class="services__modal-title">Front End<br>Development</h4>
                            <i class="uil uil-times services__modal-close"></i>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I developer Modern User Interface Website</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>Web Page Development</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Create UX Element Interactions</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Position Your Company Brand</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Back End Development -->
            <div class="services__content">
                <div>
                    <i class="uil uil-server-connection services__icon"></i>
                    <h3 class="services__title">Back End<br>Development</h3>
                    <span class="button button--flex button--small button--link services__button">
                        View More <i class="uil uil-arrow-right button__icon"></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <h4 class="services__modal-title">Back End<br>Development</h4>
                            <i class="uil uil-times services__modal-close"></i>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I developer Modern User Interface Website</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>Web Page Development</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Create UX Element Interactions</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Position Your Company Brand</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Full Stack Development -->
            <div class="services__content">
                <div>
                    <i class="uil uil-brackets-curly services__icon"></i>
                    <h3 class="services__title">Full Stack<br>Development</h3>
                    <span class="button button--flex button--small button--link services__button">
                        View More <i class="uil uil-arrow-right button__icon"></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <h4 class="services__modal-title">Full Stack<br>Development</h4>
                            <i class="uil uil-times services__modal-close"></i>
                            <ul class="services__modal-services grid">
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I developer Modern User Interface Website</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>Web Page Development</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Create UX Element Interactions</p>
                                </li>
                                <li class="services__modal-service">
                                    <i class="uil uil-check-circle services__modal-icon"></i>
                                    <p>I Position Your Company Brand</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Projects -->
    <section class="portfolio section" id="portfolio">
        <h2 class="section__title">Projects</h2>
        <span class="section__subtitle">Most Recent Projects</span>

        <div class="portfolio__container container swiper swiper-container">
            <div class="swiper-wrapper">
                <!-- Project 1 -->
                <div class="portfolio__content grid swiper-slide">
                    <img src="/assets/img/portfolio1.jpg" alt="" class="portfolio__img">

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Modern Website</h3>
                        <p class="portfolio__description">Website adaptable to all devices, with ui components and animated interactions.</p>
                        <a href="#" class="button button--flex button--small portfolio__button">
                            Demo <i class="uil uil-arrow-right button__icon"></i></a>
                    </div>
                </div>
                
                <!-- Project 2 -->
                <div class="portfolio__content grid swiper-slide">
                    <img src="/assets/img/portfolio2.jpg" alt="" class="portfolio__img">

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Web Application</h3>
                        <p class="portfolio__description">Website adaptable to all devices, with ui components and animated interactions.</p>
                        <a href="#" class="button button--flex button--small portfolio__button">
                            Demo <i class="uil uil-arrow-right button__icon"></i></a>
                    </div>
                </div>
                
                <!-- Project 3 -->
                <div class="portfolio__content grid swiper-slide">
                    <img src="/assets/img/portfolio3.jpg" alt="" class="portfolio__img">

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Online Store</h3>
                        <p class="portfolio__description">Website adaptable to all devices, with ui components and animated interactions.</p>
                        <a href="#" class="button button--flex button--small portfolio__button">
                            Demo <i class="uil uil-arrow-right button__icon"></i></a>
                    </div>
                </div>
            </div>
            <!-- Pagination Arrows -->
            <div class="swiper-button-next">
                <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
            </div>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- PROJECT IN MIND -->
    <section class="project section">


    </section>

    <!-- TESTIMONIAL -->
    <section class="testimonial section">
        

    </section>

    <!-- CONTACT ME -->
    <section class="contact section" id="contact">
        <h2 class="section__title">Contact Me</h2>
        <span class="section__subtitle">Get In Touch</span>

        <div class="contact__container container grid">
            <div>
                <!-- Telephone -->
                <div class="contact__information">
                    <i class="uil uil-phone-alt contact__icon"></i>

                    <div>
                        <h3 class="contact__title">Call Me</h3>
                        <span class="contact__subtitle"><a href="tel:+250785265860">(250) 785 265 860</a></span>
                    </div>
                </div>
                <!-- Email -->
                <div class="contact__information">
                    <i class="uil uil-envelope contact__icon"></i>

                    <div>
                        <h3 class="contact__title">Email</h3>
                        <span class="contact__subtitle"><a href="mailto:mucyoalexaxel@gmail.com">mucyoalexaxel@gmail.com</a></span>
                    </div>
                </div>
                <!-- Location -->
                <div class="contact__information">
                    <i class="uil uil-map-marker contact__icon"></i>

                    <div>
                        <h3 class="contact__title">Location</h3>
                        <span class="contact__subtitle">KK 774 St | Kigali - Rwanda</span>
                    </div>
                </div>
            </div>
            <!-- Contact Me Forms -->
            <form action="" method="POST" class="contact__form grid" id="contactForm">
                <div class="contact__inputs grid">
                    <div class="contact__content">
                        <label for="" class="contact__label">Full Names</label>
                        <input type="text" name="name" id="nameId" class="contact__input" placeholder="Alex Axel Mucyo" onfocus="focusEvent()">
                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Email</label>
                        <input type="email" name="email" id="emailId" class="contact__input" placeholder="example@example.com" onfocus="focusEvent()">
                    </div>
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Project</label>
                    <input type="text" name="project" id="projectId" class="contact__input" placeholder="Web Application Development" onfocus="focusEvent()">
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Message</label>
                    <textarea name="message" id="messageId" cols="0" rows="7" class="contact__input" placeholder="Hi Alex, ......"></textarea>
                </div>

                <div>
                    <a href="javascript:{}" class="button button--flex contact--btn" onclick="formSubmit()">Send<i class="uil uil-message button__icon"></i></a>
                </div>
            </form>
        </div>
    </section>
    
</main>